<ion-view title="{{group_name}}">
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
      <ion-list ng-repeat="member in listOfAllGroupMembers">
        <ion-item class="item-icon-right">
          <ion-option-button class="button-assertive" ng-click="removeGroupMember(member.member_key, member.user_key)">
              <i class="ion-minus-circled"></i>
          </ion-option-button>
          <h2>{{member.user_name}}</h2>
          <p>{{member.user_email}}</p>
          <i ng-class="member.group_admin ? 'icon ion-ribbon-b' : ''"></i>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>