<ion-view title="Groups">
	<ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="scanQR()">
		  <i class="icon ion-qr-scanner"></i>
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="new()">
		  <i class="icon ion-person-stalker"></i>
		</button>
	</ion-nav-buttons>
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
      <ion-refresher spinner="ripple" on-refresh="refresh()">
      </ion-refresher>
      <ion-list ng-repeat="group in listOfAllGroups">
        <ion-item ui-sref="group({grp_key: group.group_key, grp_name: group.group_name})">
          <ion-option-button class="button-calm" ui-sref="grouplistmember({grp_key: group.group_key, grp_name: group.group_name})">
              <i class="ion-clipboard"></i>
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="removeGroup(group.group_key)">
              <i class="ion-minus-circled"></i>
          </ion-option-button>
          <h2>{{group.group_name}}</h2>
          <p>{{group.group_member_count}} member(s)</p>
        </ion-item>
	    </ion-list>
    </ion-content>
</ion-view>

<!-- Pop up modal to create new quote -->
<script id="create_group.html" type="text/ng-template">
  <div class="modal">

    <div class="card">
      <ion-header-bar class="bar-balanced">
        <h1 class="title">New Group</h1>
        <button class="button button-clear button-positive" ng-click="close()">Cancel</button>
      </ion-header-bar>

      <ion-content>
        <div>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Enter group name" ng-model="group.name">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-balanced" ng-click="save(group)">Save</button>
          </div>
        </div>
      </ion-content>
    </div>
  </div>

</script>
