<ion-view title="Groups">
<!-- 	<ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="scanQR()">
		  <i class="icon ion-qr-scanner"></i>
		</button>
	</ion-nav-buttons> -->

  <ion-nav-buttons side="right">
      <!-- <button ng-show="!isRemovable" class="button button-icon" ng-click = "openPopover($event)"> -->
      <button ng-show="!isRemovable" class="button button-icon" ng-click = "showActionSheet()">
        <i class="icon ion-android-more-horizontal"></i>
      </button>
      <button ng-show="isRemovable" class="button button-icon" ng-click = "disableDelete()">
        Cancel
      </button>
  </ion-nav-buttons>

  <ion-content padding="false" class="has-header">
    <ion-refresher spinner="ripple" on-refresh="refresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="group in listOfAllGroups">
      <div class="item item-icon-right item-text-wrap" >
        <div ng-show="isRemovable" class="icon ion-android-remove-circle assertive" ng-click="removeGroup(group.group_key)">
        </div>

        <div ui-sref="grouplistmember({grp_key: group.group_key, grp_name: group.group_name})">
          <h2>{{group.group_name}}</h2>
          <p>{{group.group_member_count}} member(s)</p>
        </div>

        <div ui-sref="group({grp_key: group.group_key, grp_name: group.group_name})">
          <div class="item">
            <h1 style="color:grey;">
              Q:
            </h1>
            <h2>{{group.group_desc}}</h2>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id = "popover.html" type = "text/ng-template">
   <ion-popover-view>
      <ion-content>
        <ion-list>
          <ion-item class="item item-icon-right" ng-click="addNewGroup()"><i class="icon ion-android-add-circle"></i>Add</ion-item>
          <ion-item class="item item-icon-right" ng-click="enableDelete()"><i class="icon ion-android-delete"></i>Delete</ion-item>
        </ion-list>
      </ion-content>
   </ion-popover-view>
</script>
