<ion-view title="{{group_name}}">
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
        <ion-refresher spinner="ripple" on-refresh="refresh()">
        </ion-refresher>
        <ion-list ng-repeat="groupItem in listOfAllGroupItems">
        	<ion-item class="item-icon-left item-icon-right" ng-click="vote(groupItem.group_item_key)">
            <i ng-class="groupItem.voted ? 'icon ion-ios-heart assertive' : 'icon ion-ios-heart-outline'"></i>
            <p ng-bind="groupItem.name"></p>
            <span class="badge badge-balanced" ng-bind="groupItem.votes"></span>
	        </ion-item>
		</ion-list>
        <button class="button button-balanced button-block " ng-click="openModal(1)">New Item</button>
        <button class="button button-positive button-block " ng-click="invite()" >Invite Friends</button>
        <button class="button button-energized button-block " ng-click="openModal(2)">Group Info</button>
    </ion-content>
</ion-view>

<!-- Pop up modal to create new quote -->
<script id="create_item.html" type="text/ng-template">
  <div class="modal">

    <div class="card">
      <ion-header-bar class="bar-balanced">
        <h1 class="title">New Item</h1>
        <button class="button button-clear button-positive" ng-click="closeModal(1)">Cancel</button>
      </ion-header-bar>

      <ion-content>
        <div>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Enter your wish gift" ng-model="item.name">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-balanced" ng-click="save(item)">Save</button>
          </div>
        </div>
      </ion-content>
    </div>
  </div>
</script>
<script id="group_info.html" type="text/ng-template">
    <div class="modal">

      <div class="card">
        <ion-header-bar class="bar-balanced">
          <h1 class="title">{{group_name}}</h1>
          <button class="button button-clear button-positive" ng-click="closeModal(2)">Cancel</button>
        </ion-header-bar>

        <ion-content>
          <div class="row responsive-sm">
            <div class="col"></div>
            <div class="col text-center">
              <qrcode version="4" error-correction-level="M" size="150" data="{{grp_key}}"></qrcode>
            </div>
            <div class="col"></div>
          </div>
          <div class="row responsive-sm">
            <div class="col"></div>
              <h4 class="title">Scan QR Code to join {{group_name}} group</h4>
            <div class="col"></div>
          </div>
        </ion-content>
      </div>
    </div>


</script>
