<ion-view title="{{group_name}}">
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
      <ion-list ng-repeat="member in listOfAllGroupMembers">
        <ion-item>
          <ion-option-button class="button-assertive" ng-click="removeGroupMember(member.member_key, member.key)">
              <i class="ion-minus-circled"></i>
          </ion-option-button>
          <h2>{{member.name}}</h2>
          <p>{{member.email}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>