<ion-view title="{{group.group_name}}">
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
        <ion-refresher spinner="ripple" on-refresh="refresh()">       
        </ion-refresher>
        <ion-list ng-repeat="groupItem in listOfAllGroupItems">
        	<ion-item>
				    <ion-option-button class="button-positive" ng-click="vote(groupItem.group_item_key)"> 
            	<i ng-class="{'icon ion-ios7-heart': liked, 'icon ion-ios7-heart-outline': !liked}" style="font-size:25px"></i>
          		</ion-option-button>
          		<p ng-bind="groupItem.name"></p>
	        	<span class="badge badge-assertive" ng-bind="groupItem.votes"></span>
	        </ion-item>
		</ion-list>
        <button class="button button-balanced button-block " ng-click="new()">New Item</button>
        <button class="button button-positive button-block " >Invite Friends</button>
    </ion-content>
</ion-view>

<!-- Pop up modal to create new quote -->
<script id="create_item.html" type="text/ng-template">
  <div class="modal">

    <div class="card">
      <ion-header-bar class="bar-balanced">
        <h1 class="title">New Item</h1>
        <button class="button button-clear button-positive" ng-click="close()">Cancel</button>
      </ion-header-bar>

      <ion-content>
        <div>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Enter your wish gift" ng-model="item.name">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-balanced" ng-click="save(item)">Save</button>
          </div>
        </div>
      </ion-content>
    </div>
  </div>

</script>