<ion-view title="Items">
    <ion-content padding="'false'" style="background: url(img/snowman.jpg) no-repeat center;" class="has-header">
        <ion-list>
		 
			<ion-item>
				Bow tie
				<span class="badge badge-assertive">4</span>
			</ion-item>

			<ion-item>
				Chocolate
				<span class="badge badge-assertive">1</span>
			</ion-item>

			<ion-item>
				Water bottle
				<span class="badge badge-assertive">3</span>
			</ion-item>

			<ion-item>
				Big-screen monitor
				<span class="badge badge-assertive">1</span>
			</ion-item>

			<ion-item>
				Guitar
				<span class="badge badge-assertive">1</span>
			</ion-item>

		</ion-list>
        <button class="button button-balanced button-block ">New Item</button>
        <button class="button button-positive button-block ">Invite Friends</button>
    </ion-content>
</ion-view>