<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="false" scroll="false" class="has-header">

        <section class = "home-container" >

            <div class="row header" style="background: url(img/login_bg.png) no-repeat center; background-size:100%">

            </div>

            <div class = "row icon-row">
                <div class="col-80 col-offset-10">
                    
                    <form class="list">
                        <ion-list>
                            <label class="item item-input">
                                <input type="email" placeholder="Email" ng-model="userData.email">
                            </label>
                            <label class="item item-input">
                                <input type="password" placeholder="Password" ng-model="userData.password">
                            </label>
                        </ion-list>
                    
                    
                        <a href="" class="button button-positive button-block" ng-click="login(userData)">Log in</a>
            <!--             <a href="" class="button icon ion-social-facebook button-positive button-block" ng-click="loginWithFacebook()">    Log in via Facebook
                        </a> -->
                        <a ui-sref="signup()" class="button button-assertive button-block" style="text-center">Sign Up</a>
                    
                        <div class="spacer" style="height: 10px;"></div>
                    </form>

                </div>
            </div>

        </section>


            
    </ion-content>
</ion-view>