<ion-view title="New Group">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <a href="#/group" class="button button-balanced button-block ">Save</a>
            <a href="#/group" class="button button-stable button-block ">Cancel</a>
        </div>
    </ion-content>
</ion-view>