<ion-view title="Sign Up">
    <ion-content padding="'true'" style="background: url(img/snowtree.jpg) no-repeat center;" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Enter your name" ng-model="userData.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="example@email.com" ng-model="userData.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password" ng-model="userData.password">
                </label>
            </ion-list>
            <button class="button button-balanced button-block" ng-click="signup(userData)">Sign up</button>
        </form>
    </ion-content>
</ion-view>