<ion-view title="Dashboard">
<!-- 	<ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="scanQR()">
		  <i class="icon ion-qr-scanner"></i>
		</button>
	</ion-nav-buttons> -->

  <ion-nav-buttons side="right">
      <button ng-if="!isRemovable" class="button button-icon" ng-click = "showActionSheet()">
        <i class="icon ion-android-more-horizontal"></i>
      </button>
      <button ng-if="isRemovable" class="button button-icon" ng-click = "disableDelete()">
        Cancel
      </button>
  </ion-nav-buttons>

  <ion-content padding="false" class="has-header">
    <ion-refresher spinner="ripple" on-refresh="refresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="group in listOfAllGroups track by group.group_key">
      <div class="item item-icon-right item-text-wrap" >
        <div ng-if="isRemovable" class="icon ion-android-remove-circle assertive" ng-click="removeGroup(group.group_key)"></div>
        <div ui-sref="grouplistmember({grp_key: group.group_key, grp_name: group.group_name, grp_desc: group.group_desc, grp_img: group.group_img})">
          <h2>{{::group.group_name}}</h2>
          <p>{{::group.group_member_count}} member(s)</p>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div ui-sref="group({grp_key: group.group_key, grp_name: group.group_name})">
          <h1 style="color:grey;">
            Q:
          </h1>
          <h2>{{::group.group_desc}}</h2>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>

<!-- Pop up modal to create new clicker topic -->
<script id="new.html" type="text/ng-template">
    <div class="modal">

      <div class="card">
        <ion-header-bar class="bar-stable">
          <h1 class="title">New</h1>
          <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>

        <ion-content>
          <div class="list list-inset">

              <span class="input-label">Title:</span>
              <label class="item item-input item-stacked-label">
                  <input type="text" ng-model="newGroup.name">
              </label>

              <div class="spacer text-center" style="height: 10px;"></div>

              <span class="input-label">Description:</span>
              <label class="item item-input item-stacked-label">
                  <textarea rows="10" type="text" ng-model="newGroup.description"></textarea>
              </label>

              <button class="button button-positive button-block" ng-click="save(newGroup)">Submit</button>

          </div>
        </ion-content>
      </div>
    </div>
</script>
