<ion-view title="{{group_name}}">
    <ion-nav-buttons side="right">
      <button ng-show="!isRemovable" class="button button-icon" ng-click = "showActionSheet()">
        <i class="icon ion-android-more-horizontal"></i>
      </button>
      <button ng-show="isRemovable" class="button button-icon" ng-click = "disableDelete()">
        Cancel
      </button>
    </ion-nav-buttons>

    <ion-content padding="false" class="has-header">
        <ion-refresher spinner="ripple" on-refresh="refresh()">
        </ion-refresher>

        <div ng-show="!(listOfAllGroupItems.length>0)">

          <div class="spacer text-center" style="height: 30px;"></div>

          <div class="row">
            <div class="col col-80 col-offset-10 text-center">
              <h1 style="color:grey;">
                Q:
              </h1>
              <p style="color:grey;">Show the description of the clicker topic</p>
            </div>
          </div>

          <div class="row">
              <div class="col col-80 col-offset-10 text-center">
                <p>You have not added any post yet.</p>
              </div>
          </div>

          <div class="row">
            <div class="col col-50 col-offset-25 text-center">
                <a href="" class="button button-balanced button-block" ng-click="addNewItem()">Create new post</a>
            </div>
          </div>

        </div>

        <div class="list card" ng-show="(listOfAllGroupItems.length>0)" ng-repeat="groupItem in listOfAllGroupItems">
          <div class="item item-icon-right item-text-wrap" >

            <div ng-show="isRemovable" class="icon ion-android-remove-circle assertive" ng-click="deletePost()"></div>

            <div class="row" ng-click="vote(groupItem.group_item_key)">
              <div class="col col-20 text-center">
                <h1>{{$index + 1}}</h1>
              </div>

              <div class="col col-80">
                <h2>{{groupItem.name}}</h2>
                <p>by {{groupItem.author}}</p>
                <i ng-show="!isRemovable" ng-class="groupItem.voted ? 'icon ion-android-checkbox-outline balanced' : 'icon ion-android-checkbox-outline-blank'"></i>
              </div>
            </div>
          </div>

          <div class="item item-body">
            <div class="row">
              <div class="col col-50 col-offset-25 text-center">
                <h1 style="color:grey;">
                  {{groupItem.votes}}
                  <p>likes</p>
                </h1>
              </div>
            </div>
          </div>

        </div>

<!--         <button class="button button-balanced button-block " ng-click="addNewItem()">New Item</button>
        <button class="button button-positive button-block " ng-click="invite()" >Invite Friends</button>
        <button class="button button-energized button-block " ng-click="openModal()">Group Info</button> -->
    </ion-content>
</ion-view>

<!-- Pop up modal to create new quote -->
<script id="group_info.html" type="text/ng-template">
    <div class="modal">

      <div class="card">
        <ion-header-bar class="bar-balanced">
          <h1 class="title">{{group_name}}</h1>
          <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>

        <ion-content>
          <div class="row responsive-sm">
            <div class="col"></div>
            <div class="col text-center">
              <qrcode version="4" error-correction-level="M" size="150" data="{{grp_key}}"></qrcode>
            </div>
            <div class="col"></div>
          </div>
          <div class="row responsive-sm">
            <div class="col"></div>
              <h4 class="title">Scan QR Code to join {{group_name}} group</h4>
            <div class="col"></div>
          </div>
        </ion-content>
      </div>
    </div>
</script>
