<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="false" scroll="false" class="has-header">

        <section class = "home-container" >

            <div class="row header" style="background: url(img/login_bg.png) no-repeat center; background-size:100%"></div>

            <div class="row icon-row">
                <div class="col-80 col-offset-10">
                    <div class="row">
                        <div class="col text-center">
                            <a href="" class="button icon ion-social-facebook button-outline button-block button-positive" ng-click="loginWithFacebook()"></a>
                        </div>
                        <div class="col text-center">
                            <a href="" class="button icon ion-social-googleplus button-outline button-block button-assertive" ng-click="loginWithGoogle()"></a>
                        </div>
                    </div>
                    <form class="list">
                        <ion-list>
                            <label class="item item-input">
                                <input type="email" placeholder="Email" ng-model="userData.email">
                            </label>
                            <label class="item item-input">
                                <input type="password" placeholder="Password" ng-model="userData.password">
                            </label>
                        </ion-list>

                        <div class="row">
                            <div class="col text-center">
                                <a href="" class="button button-balanced button-block" ng-click="login(userData)">Log in</a>
                            </div>
                            <div class="col text-center">
                                <a ui-sref="signup()" class="button button-dark button-block">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="spacer text-center" style="height: 10px;"></div>

        </section>

    </ion-content>
</ion-view>
