<ion-view title="{{group_name}}">

  <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click = "inviteFriends()">
        <i class="icon ion-android-person-add"></i>
      </button>
  </ion-nav-buttons>

  <ion-content padding="false" class="has-header">

<!--
      <img  class="resize" src="img\question_mark.jpg" ng-click="showpicOptionModal()" ng-if="!myRestaurantData.image && !imgURI">
      <img class="resize" ng-src="data:image/jpeg;base64,{{::myRestaurantData.image}}" ng-click="showpicOptionModal()" ng-if="!imgURI && myRestaurantData.image">
      <img class="resize" ng-src="data:image/jpeg;base64,{{::imgURI}}" ng-click="showpicOptionModal()" ng-if="imgURI"> -->
  <div class="card">
      <div class="item item-body">
        <div class="row">
          <div class="col col-50 col-offset-25" style="border-radius:10px; border: 2px solid #73AD21; padding: 10px; ">
            <img class="full-image" src="img\camera.png" ng-if="!group_img" ng-click="showActionSheet()">
            <img class="full-image" src="data:image/jpeg;base64,{{group_img}}" ng-if="group_img" ng-click="showActionSheet()" >
          </div>
        </div>
        <div class="row">
          <div class="col col-50 col-offset-25 text text-center">
            <h2>{{group_desc}}</h2>
          </div>
        </div>
      </div>
  </div>

  <div class="card">
    <ion-list ng-repeat="member in listOfAllGroupMembers">
      <ion-item class="item-icon-right">
        <ion-option-button class="button-assertive" ng-click="removeGroupMember(member.member_key, member.user_key)">
            <i class="ion-minus-circled"></i>
        </ion-option-button>
        <h2>{{member.user_name}}</h2>
        <p>{{member.user_email}}</p>
        <i ng-class="member.group_admin ? 'icon ion-ribbon-b' : ''"></i>
      </ion-item>
    </ion-list>
  </div>

  </ion-content>

</ion-view>
